/* variable declarations */

:root {
    --myapp-color-background: white;
    --myapp-color-separator: rgb(120, 120, 120);
    --myapp-color-headlines: rgb(0, 0, 0);
    --myapp-color-main: rgb(255, 255, 255);
    --myapp-color-header: rgb(255, 255, 255);
    --myapp-color-footer: rgb(255, 255, 255);
    --myapp-height-header: 60px;
    --myapp-height-footer-und-orange: 50px;
    --myapp-size-imgbutton: 40px;
    --myapp-size-imgbutton-img: 28 px;
    --myapp-height-listitem: 100px;
    --myapp-color-lines: rgb(120, 120, 120);
    --myapp-size-img: 80px;
    --myapp-size-img-tiles: 100px;
    --myapp-default-space: 4px;
}

html,
body {
    background-color: var(--myapp-color-background);
    margin: 0;
    font-family: "Avenir Medium", sans-serif;
    color: black;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

/* block text selection */

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
}

/* Überschriften */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--myapp-color-headlines);
}

h2 {
    font-size: 10px;
}

header {
    height: var(--myapp-height-header);
    background-color: var(--myapp-color-header);
    padding-right: 15px;
    padding-left: 15px;
    border-bottom: 5px solid rgb(200, 200, 200);
}

footer {
    height: 50px;
    background-color: var(--myapp-color-footer);
    padding-left: 15px;
    padding-right: 15px;
    border-top: 2px solid rgb(252, 118, 34);
}

main {
    height: calc(100% - (var(--myapp-height-header) + var(--myapp-height-footer-und-orange)));
    background-color: var(--myapp-color-main);
    overflow-y: auto;
    opacity: 1;
    transition: opacity 1s;
}


/*heading*/

h1 {
    margin: 0;
    font-weight: normal;
    line-height: var(--myapp-height-header);
    text-transform: uppercase;
    font-size: 18pt;
}


/* buttons*/

header .imgbutton {
    margin-top: calc((var(--myapp-height-header) - var(--myapp-size-imgbutton)) / 2);
}

footer .imgbutton {
    margin-top: calc((var(--myapp-height-footer-und-orange) - var(--myapp-size-imgbutton)) / 2);
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.imgbutton:last-child {
    margin-right: 0;
}

.imgbutton {
    margin-right: 0;
    border: none;
    background-color: transparent;
    color: transparent;
    background-repeat: no-repeat;
    margin-top: 10px;
    background-position: center;
    filter: invert(60%);
    background-size: var(--myapp-size-imgbutton-img) auto;
    height: var(--myapp-size-imgbutton);
    width: var(--myapp-size-imgbutton);
}

.menu {
    background-image: url("./img/png/menu_FILL0_wght400_GRAD0_opsz24.png");
    margin-left: -11px;
}

.add {
    background-image: url("./img/png/add_FILL0_wght400_GRAD0_opsz24.png");
}

.refresh {
    background-image: url("./img/png/sync_FILL0_wght400_GRAD0_opsz24.png");
}

.edit {
    background-image: url("./img/png/more_vert_FILL0_wght400_GRAD0_opsz24.png");
    position: absolute;
    top: 45px;
    right: 7px;
}

.play {
    background-image: url("./img/png/play_arrow_FILL0_wght400_GRAD0_opsz24.png");
    position: absolute;
    top: 35px;
    left: 95px;
    background-size: 30%;
}


.kachel {
    background-image: url("./img/png/grid_view_FILL0_wght400_GRAD0_opsz24.png");
}

.kachel.clicked {
    background-image: url("./img/png/list_FILL0_wght400_GRAD0_opsz24.png");
}

.logout {
    background-image: url("./img/png/logout_FILL0_wght400_GRAD0_opsz24.png");
}

/*Liste*/

main ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 10px solid #e4e4e4;
    text-align: left;
}

main li {
    position: relative;
    height: var(--myapp-height-listitem);
    line-height: var(--myapp-height-listitem);
    padding-left: 15px;
    padding-right: 0;
    font-size: 12pt;
    border-bottom: 1px solid #e4e4e4;
}

main h2 {
    position: absolute;
    display: inline-block;
    bottom: 10px;
    left: 107px;
    font-weight: normal;
    margin: 0;
    font-size: 11pt;
}

main h3 {
    position: absolute;
    display: inline-block;
    bottom: 33px;
    left: 107px;
    font-weight: normal;
    margin: 0;
    font-size: 10pt;

    color: rgb(180, 180, 180);
}

main h4 {
    position: absolute;
    display: inline-block;
    bottom: 33px;
    right: 33px;
    font-weight: normal;
    margin: 0;
    font-size: 10pt;
    color: rgb(180, 180, 180);
}

main h5 {
    position: absolute;
    display: inline-block;
    top: 15px;
    left: 127px;
    font-weight: normal;
    margin: 0;
    font-size: 11pt;
    color: rgb(180, 180, 180);
}

main li img {
    height: var(--myapp-size-img);
    width: var(--myapp-size-img);
    object-fit: cover;
    margin-top: calc((var(--myapp-height-listitem) - var(--myapp-size-img)) / 2);
    margin-right: 10px;
}

/* kacheln */

.tiles li {
    box-sizing: unset;
    margin-left: var(--myapp-default-space);
    margin-top: var(--myapp-default-space);
    margin-bottom: 0    ;
    display: inline-block;
    border-bottom: none;
    padding-left: 0;
    width: calc((100vw - (4 + 1) * var(--myapp-default-space)) / 4);
    height: calc((100vw - (4 + 1) * var(--myapp-default-space)) / 4);
    float: left;
}

.tiles li * {
    display: none;
}

.tiles .edit {
    display: block;
}

.tiles img {
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.tiles main {
    padding: 0;
}

/* fade in out */

main.faded {
    opacity: 0;
    transition: opacity 2s;
}